/*global*/


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/white-paper-texture_1194-5998.avif');
}

.main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;

}

.hidden {
  display: none
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.hebrew {
  font-family: 'Noto Sans Hebrew';
}

.english {
  font-family: 'Jost';
}

.russian {
  font-family: 'Jost';
}


.dialog {
  position: relative;
  border: grey 1px solid;
  width: 70%;
  height: 70%;
}

.dialog:focus {
  border: none
}



/*header*/

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo_languages_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 15px 40px 8px 40px;
}

.header__logo_container {
  display: grid;
  grid-template-columns: 5% 95%;
  column-gap: 25px;
}

.header__logo {
  height: 62px;
  fill: rgb(0, 0, 100);
  margin-top: 12px;
}

.hebrew .header__title {
  letter-spacing: 7px;
}

.russian .header__title {
  letter-spacing: 0px;
}

.english .header__title {
  letter-spacing: 16px;

}

.header__title {
  font-size: 40px;
  margin-inline-start: 5px;
  color: rgb(0, 0, 100);
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 100;

}

.header__description {
  margin-inline-start: 8px;
  font-size: 16px;
  cursor: default;
  color: rgb(0, 0, 100);
}

.header__languages_fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  font-size: 13px;
}

.header__language_button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s ease;
}

.header__language_button:hover {
  color: rgb(0, 0, 100);
  transform: scale(1.01);
  font-weight: 700;
}

.header__language_button_english {
  font-family: 'Jost';
}

.header__language_button_russian {
  font-family: 'Jost';
}

.header__language_button_hebrew {
  font-family: 'Noto Sans Hebrew';
}


.header__language_button_input:checked + .header__language_button {
  font-weight: 600;
  color: rgb(0, 0, 100);
}

/*nav*/
.header__nav {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 90%;
  border-bottom: 1px solid grey;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__list_item {
  transition: transform 0.3s ease;
}

.nav__list_item:hover {
  color: rgb(0, 0, 100);
  transform: scale(1.01);
  font-weight: 600;
}

.nav__list_item_map:hover {
  font-weight: 600;
}

.parameters_form {
  margin: auto;
  padding-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  width: fit-content;
  padding-bottom: 3px;
}

.parameters_form_checkbox:focus-visible + label {
  outline: 2px solid rgb(0, 0, 100);
}

.parameters_form_checkbox:checked + .parameters__button::after {
  content: '';
  position: absolute; 
  z-index: 1;
  top: 15px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-image: url(../img/check_img.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.parameters__button {
  position: relative;
  width: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.parameters__button_img {
  width: 27px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dollar {
  transform: scale(1.4);
}

.parameters__button_text {
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}

.parameters__button {
  transition: transform 0.3s ease;
}

.parameters__button {
  transition: transform 0.3s ease;
}

.parameters__button:hover .parameters__button_text {
  color: rgb(0, 0, 100);
  transform: scale(1.01);
  font-weight: 600;
}


.header__search {
  position: relative;
  margin-top: 25px;
}

.header__search_input {
  padding-right: 40px; 
  background-image: url('../img/Search_Icon.svg'); 
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 24px;
  height: 40px;
  width: 400px;
  border-radius: 7px;
  border: 2px solid rgb(0, 0, 100);
  padding-inline-start: 10px;
  transition: width 0.3s ease;
}

.header__search_input:focus {
  width: 800px;
  border: 2px solid rgb(0, 0, 100);
}

/*body*/

.places__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  margin: 40px;
}

.about {
  margin-bottom: 40px;
}

.places__list_item {
  flex: 1 1 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 16px auto; 
  padding: 8px 16px 16px 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-between;
}

.places__list_item:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

.places__polaroid_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
 
}

.places__paper-clip:after {
  width: 14px;
  height: 20px;
  content: " ";
  background: transparent;
  display: block;
  position: absolute;
  right: 2px;
  top: 5px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.places__paper-clip {
  background: transparent;
  height: 60px;
  width: 18px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 80px;
  top: -7px;
}

.places__polaroid_photo {
  position: absolute;
  top: 10px;
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px;
  overflow: hidden;
  max-height: 240px;
}

.places__list_image {
  width: 100%;
  object-fit: cover;
  max-height: 80%;
  overflow: hidden;
  border: 2px solid grey;
}

.places__polaroid_title {
  font-family: "Dancing Script";
  height: 10%;
}

.places__list_title {
  font-size: 24px;
  align-self: flex-start;
  padding-top: 24px;
  margin-bottom: 8px;
}

.places__list_text {
  font-size: 16px;
  margin-bottom: 8px;
}

.places__description_icons {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.places__description_icon_img {
  width: 25px;
}



.map {
  padding-bottom: 100px;
}

.footer__nav {
  padding-top: 100px;
  margin-bottom: 50px;
}

.modal__full_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
